## Estimates of Location

This sections is about the mean and median

In [3]:
import pandas as pd
state = pd.read_csv("state.csv")
state.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [4]:
print(state['Population'].mean())
print(state['Population'].median())

6162876.3
4436369.5

In [5]:
from scipy.stats import trim_mean
print(trim_mean(state['Population'],0.1))

4783697.125

In [6]:
import numpy as np

In [7]:
np.average(state['Murder.Rate'],weights=state['Population'])

4.445833981123393

## Estimates of Variability

It is about dispersion, how tighly clustered or spread out is the data

NameError: name 'asas' is not defined